<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <%= render 'shared/light_section', name: @product.name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <%= render 'main_product', product: @product %>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: 'related_product', collection: @related_products %>
    </div>
    </div>
  </section>
</div>
